<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetEasyMusic_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8755D1D31D80F0D000709561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8755D1EC1D80F0D000709561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8755D1F71D80F0D000709561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
